* {
    font-family: tahoma;
}

:root {
    /* CSS HEX */
    --bluegray: rgb(155, 187, 227, 0.787);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bluegray);
}

h1 {
    display: inline-block;
    margin-left: 30px;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    padding: 30px;
    align-items: center;
    font-size: 20px;
}

a {
    text-decoration: none;
}

#about {
    background-color: var(--bluegray);
}

#wedding {
    width: 95%;
    height: 450px;
    object-fit: contain;
    margin-left: 2.5%;
}

p {
    margin-left: 2.5%;
}

.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 100%;
    background-color: var(--bluegray);
}

figure:first-child {
    flex-basis: 95%;
}

figure:first-child img {
    width: 95%;
    justify-content: space-around;
}

figure {
    flex-basis: 45%;
    margin: 10px;
}

figure:hover {
    box-shadow: inset 0px 0px 12px 0px white;
}

a {
    display: flex;
}

img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    flex-grow: 1;
}

h3,
h4 {
    margin-left: 5%;
}

#contact ul {
    margin-left: 2.5%;
    padding-left: 2.5%;
}

#contact ul li a {
    display: inline;
}

@media screen and (max-width: 992px) {
    header {
        flex: 0 1 100%;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex: 1 1 100%;
        flex-direction: column;
    }


    figure {
        flex: 1 0 95%;
    }


}