* {
    font-family: Calibri;
    box-sizing: border-box;

}

h1 {
    display: inline-block;
}

nav {
    float: right; 
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 30px;
    align-items: center;
}

main {
    display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
    height: 200px;
    width: 200px;
    background-size: contain;
}

#studyGuide {
    width: 80%;
}